{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_container %}


<div id="main">
	<div id="uheader">
				<h1>Der Konfigurator</h1>
	</div>
	<div id="content">
	    <form name="regalf" id="regalf" method="post">
			<input type='hidden' name='regal[anzahl]' value='{{regal.anzahl}}'>
			<input type="hidden" name="regal[aufbau][{{regal.anzahl + 1}}][stuetzart]" value="{{regal.aufbau[regal.anzahl].stuetzart}}">
			<input type="hidden" name="regal[aufbau][{{regal.anzahl + 1}}][hoehe]" value="{{regal.aufbau[regal.anzahl].hoehe}}">
			<input type="hidden" name="regal[aufbau][{{regal.anzahl + 1}}][breite]" value="{{regal.aufbau[regal.anzahl].breite}}">
			<input type="hidden" name="regal[aufbau][{{regal.anzahl + 1}}][boden]" value="{{regal.aufbau[regal.anzahl].boden}}">
			<input type='hidden' name='regal[ralton]' style='width:100%;font-size: 110%;' value='' disabled>
			<table border=0 style='width:100%;'>
				<tr>
					<td style='width:150px;text-align:center;background-color:#EAE7E7;color:#000;width:25%;font-size: 110%;'>
						Stützart
					</td>
					<td style='width:150px;text-align:center;background-color:#EAE7E7;color:#000;width:25%;font-size: 110%;'>
						Tiefe
					</td>
					<td style='width:150px;text-align:center;background-color:#EAE7E7;color:#000;width:25%;font-size: 110%;'>
						Oberfläche
					</td>
					<td style='width:200px;text-align:center;background-color:#EAE7E7;color:#000;width:25%;font-size: 110%;'>
					</td>
				</tr>
				<tr> 
					<td>
						<select class="sorting form-select" name='regal[stuetzart]' size='1' onChange='submit();' style='width:100%;font-size: 110%;'>
						{% for sart in regalVar.stuetzart %}
							{% if regal.stuetzart == sart %}
								<option value='{{sart}}' selected>{{sart}}</option>
							{% else %}
								<option value='{{sart}}'>{{sart}}</option>
							{% endif %}
						{% endfor %}
						</select>
					</td><td>
						<select class="sorting form-select" name='regal[tiefe]' size='1' onChange='submit();' style='width:100%;font-size: 110%;'>
						{% for tief in regalVar.tiefe %}
							{% if regal.tiefe == tief %}
								<option value='{{tief}}' selected>{{tief}} cm</option>
							{% else %}
								<option value='{{tief}}'>{{tief}} cm</option>
							{% endif %}
						{% endfor %}
						</select>
					</td><td>					
						<select class="sorting form-select" name='regal[oberflaeche]' size='1' onChange='submit();' style='width:100%;font-size: 110%;'>
						{% for oberf in regalVar.oberflaeche %}
							{% if regal.oberflaeche == oberf %}
								<option value='{{oberf}}' selected>{{regalVar.oberflaechename[oberf]}}</option>
							{% else %}
								<option value='{{oberf}}'>{{regalVar.oberflaechename[oberf]}}</option>
							{% endif %}
						{% endfor %}
						</select>
					</td><td>
						<div class="d-grid">
							<button class="btn btn-buy" title="In den Warenkorb" name="addCard" value="addCard">
							In den Warenkorb
							</button>
						</div>
					</td>
				</tr>   
			</table>
			<div style='overflow-x:scroll;overflow-y:none;max-width:100%;'>
			{{regal.svg|raw}}
			</div>
			<table style="width:{{rAbstand.breite}}px;border-collapse:collapse;">

			{% if regal.aufbau|length > 1 %}

			<tr>
				<td colspan="{{regal.anzahl + 1}}" style="text-align: center;">
					{% if regal.aufbau|length - 1 > 1 %}
						<button class="btn btn-danger btn-buy" name="regal[addsub]" value="-1" onclick="submit()" style="width:130;background-color:#ff0033;font-size: 110%">Element entfernen</button>					
					{% endif %}
					{% if regal.aufbau|length <= 10 and regal.aufbau|length -1 > 0 %}
						
					{% endif %}
					{% if regal.aufbau|length <= 10 %}
						<button class="btn btn-primary btn-buy" name="regal[addsub]" value="1" onclick="submit()" style="width:130;background-color:#a5c614;font-size: 110%">weiteres Element</button>
					{% endif %}
				</td>
			</tr>

			{% endif %}



            <tr>
                <td style="width:{{rAbstand.links}}px;">
                Höhe in cm
                </td>

		{% for key in 1..regal.aufbau|length -1 %}

			{% if key > 0 %}
			<td style="width:{{regal.aufbau[key].breite * rAbstand.factor - 2}} px;">
			<select class="sorting form-select" name="regal[aufbau][{{key}}][hoehe]" size="1" onChange="submit();" style="width:100%;text-align-last:center;font-size: 110%;">
				{% for hoch in regalVar.hoehe %}
					{% if regal.aufbau[key].hoehe == hoch %}
						<option value='{{hoch}}' selected>{{hoch}}</option>
					{% else %}
						<option value='{{hoch}}'>{{hoch}}</option>
					{% endif %}
				{% endfor %}
			</select>
			</td>

			{% endif %}

		{% endfor %}

		    </tr><tr>
                <td style="width:{{rAbstand.links}}px;">
                Breite in cm
                </td>

		{% for key in 1..regal.aufbau|length -1 %}

			{% if key > 0 %}
			<td style="width:{{regal.aufbau[key].breite * rAbstand.factor - 2}} px;">
			<select class="sorting form-select" name="regal[aufbau][{{key}}][breite]" size="1" onChange="submit();" style="width:100%;text-align-last:center;font-size: 110%;">
				{% for breit in regalVar.breite %}
					{% if regal.aufbau[key].breite == breit %}
						<option value='{{breit}}' selected>{{breit}}</option>
					{% else %}
						<option value='{{breit}}'>{{breit}}</option>
					{% endif %}
				{% endfor %}
			</select>		
			</td>
			{% endif %}

		{% endfor %}

		    </tr><tr>
                <td style="width:{{rAbstand.links}}px;">
                Anzahl Böden
                </td>		

		{% for key in 1..regal.aufbau|length -1 %}

			{% if key > 0 %}
			<td style="width:{{regal.aufbau[key].breite * rAbstand.factor - 2}} px;">
			<select class="sorting form-select" name="regal[aufbau][{{key}}][boden]" size="1" onChange="submit();" style="width:100%;text-align-last:center;font-size: 110%;">
				{% for boden in 1..10 %}
					{% if regal.aufbau[key].boden == boden %}
						<option value='{{boden}}' selected>{{boden}}</option>
					{% else %}
						<option value='{{boden}}'>{{boden}}</option>
					{% endif %}
				{% endfor %}
			</select>
			</td>


			{% endif %}

		{% endfor %}

		</tr>
		</table>
		</form>
	{{ dump() }}
	</div>
</div>    
{% endblock %}